#back{
    height: 600px;
    background-color: #1babd3;
    display: flex;
    justify-content: center;
}
#head{
    background-color:#1babd3;
    height: 50px;
    display: flex;

}
#hc{
    background-color:#1babd3;
    display: flex;
}
.ht{
  margin: 95px;
  margin-top: 40px;
  font-size: 17px;
  font-weight: bold;
  color: black;
}
.ht:hover{
    font-size: 20px;
    text-decoration: underline;
}
#main{
    background-color: white;
    height: 600px;
    width: 70%;
    margin-top: 85px;
    border-radius: 4%;
    border: 2px solid rgba(95, 82, 82, 0.251);
}
a{
    text-decoration: none;
}
.skill{
    background-color: #00c8ff39;
    border:2px solid black;
    height: 250px;
    width: 290px;
    margin-top: 20px;
    margin-left: 380px;
    border-radius: 20px;
  }
  .skills{
    background-color: #00c8ff39;
    border:2px solid black;
    height: 180px;
    width: 290px;
    margin-top: 20px;
    margin-left: 380px;
    border-radius: 20px;
  }
  h2{
      margin-top: 30px;
      text-align: center;
  }
  li{
      font-size: 20px;
  }